https://m.blog.naver.com/PostView.nhn?blogId=khyunji90&logNo=220166480550&proxyReferer=https:%2F%2Fwww.google.com%2F

In [78]:
import pandas as pd
df=pd.DataFrame([
    ['green','M','10.1','class1'],
    ['red','L','13.5','class2'],
    ['blue','XL','15.3','class1']
])
df.columns=['color','size','price','classlabel']

In [79]:
df

   color size price classlabel
0  green    M  10.1     class1
1    red    L  13.5     class2
2   blue   XL  15.3     class1

In [80]:
size_mapping={
    'XL':3,
    'L':2,
    'M':1
}

In [81]:
df['size']=df['size'].map(size_mapping)

In [82]:
df

   color  size price classlabel
0  green     1  10.1     class1
1    red     2  13.5     class2
2   blue     3  15.3     class1

In [13]:
inv_size_mapping={v:k for k,v in size_mapping.items()}
df['size']=df['size'].map(inv_size_mapping)

In [14]:
df

   color size price classlabel
0  green    M  10.1     class1
1    red    L  13.5     class2
2   blue   XL  15.3     class1

In [15]:
import numpy as np
class_mapping={label:idx for idx,label in enumerate(np.unique(df['classlabel']))}

In [16]:
class_mapping

{'class1': 0, 'class2': 1}

In [17]:
df['classlabel']=df['classlabel'].map(class_mapping)

In [18]:
df

   color size price  classlabel
0  green    M  10.1           0
1    red    L  13.5           1
2   blue   XL  15.3           0

In [19]:
inv_class_mapping={v:k for k,v in class_mapping.items()}
df['classlabel']=df['classlabel'].map(inv_class_mapping)
df

   color size price classlabel
0  green    M  10.1     class1
1    red    L  13.5     class2
2   blue   XL  15.3     class1

In [20]:
inv_class_mapping

{0: 'class1', 1: 'class2'}

In [21]:
from sklearn.preprocessing import LabelEncoder
class_le=LabelEncoder()
y=class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 0])

In [24]:
class_le.inverse_transform(y)

array(['class1', 'class2', 'class1'], dtype=object)

In [94]:
x=df[['color','size','price']].values
class_le=LabelEncoder()
x[:,0]=class_le.fit_transform(x[:,0])

In [95]:
x

array([[1, 1, '10.1'],
       [2, 2, '13.5'],
       [0, 3, '15.3']], dtype=object)

In [90]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder(dtype=np.int)
col_trans=ColumnTransformer([('ord_enc',ord_enc,['color'])])
X_trains=col_trans.fit_transform(df)
X_trains

array([[1],
       [2],
       [0]])

In [93]:
df

   color  size price classlabel
0  green     1  10.1     class1
1    red     2  13.5     class2
2   blue     3  15.3     class1

In [92]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder(dtype=np.int)
col_trans=ColumnTransformer([('ord_enc',ord_enc,['size'])])
X_trains=col_trans.fit_transform(df)
X_trains

array([[0],
       [1],
       [2]])

In [71]:
col_trans.named_transformers_['ord_enc'].inverse_transform(X_trains)

array([['green'],
       ['red'],
       ['blue']], dtype=object)

OrdinalEncoder는 순서가 있는 트겅에 적용하는 클래스가 아니라 순서가 없는 범주형 특성을 정수로 변환하는 클래스

문제: green는 red보다 크고 blue보다 작다고 가정,하지만 알고리즘이 의미 있는 결과를 만들 수 있다.

위 문제를 해결하기 위해 원-핫-인코딩(one-hot-encoding)기법을 사용

순서 없는 특성에 들어 있는 고유한 값마다 새로운 더미(dummy)특성을 만드는 것

In [85]:
from sklearn.preprocessing import OneHotEncoder

In [98]:
ohe=OneHotEncoder(categories='auto')
col_trans=ColumnTransformer([('ohe',ohe,[0])],remainder='passthrough')
col_trans.fit_transform(x)

array([[0.0, 1.0, 0.0, 1, '10.1'],
       [0.0, 0.0, 1.0, 2, '13.5'],
       [1.0, 0.0, 0.0, 3, '15.3']], dtype=object)

In [109]:
pd.get_dummies(df[['color','price','size']])

,size,color_blue,color_green,color_red,price_10.1,price_13.5,price_15.3
0,1,0,1,0,1,0,0
1,2,0,0,1,0,1,0
2,3,1,0,0,0,0,1

원-핫 인코딩된 데이터셋을 사용할때 다중 공선성(multicollinearity)주의

특성 간의 상관관계가 높으면 역행렬을 계한하기 어려워 수치적으로 불안해진다. 

변수 간의 상관관계를 감소하려면 원-핫 인코딩 된 배열에서 특성 열 하나 삭제

In [104]:
pd.get_dummies(df[[
    'price','color','size'
]],drop_first=True)

   size  price_13.5  price_15.3  color_green  color_red
0     1           0           0            1          0
1     2           1           0            0          1
2     3           0           1            0          0

https://m.blog.naver.com/PostView.nhn?blogId=vnf3751&logNo=220833952857&proxyReferer=https:%2F%2Fwww.google.com%2F

https://mindscale.kr/course/basic-stat-python/13/

In [171]:
ohe=OneHotEncoder(categories='auto')
col_trans=ColumnTransformer([('ohe',ohe,[0])],remainder='passthrough')
col_trans.fit_transform(x)[:,1:]

array([[1.0, 0.0, 1, '10.1'],
       [0.0, 1.0, 2, '13.5'],
       [0.0, 0.0, 3, '15.3']], dtype=object)

In [172]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/'
              'machine-learning-databases/wine/wine.data',header=None)

In [173]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [174]:
df_wine=df

In [175]:
df_wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [176]:
df_wine.columns=['Class label','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flacanoids',
                'Nonflacanoid phenols','Proanthocyanins','Color intensity','Hue','0D280/0D315 of diluted wines','Proline']

In [177]:
df_wine

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flacanoids,Nonflacanoid phenols,Proanthocyanins,Color intensity,Hue,0D280/0D315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [178]:
print("클래스 레이블",np.unique(df_wine['Class label']))

클래스 레이블 [1 2 3]

In [179]:
from sklearn.model_selection import train_test_split
X,y=df_wine.iloc[:,1:],df_wine.iloc[:,0]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0,stratify=y)

In [180]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(178, 13)
(124, 13)
(54, 13)

In [181]:
print(y_train.shape)
print(y_test.shape)

(124,)
(54,)

# 특성 스케일 맞추기
#### 전처리 파이프 라인에서 잊어버리기 쉽지만 중요한 단계.

결정트리와 랜덤포레스트는 특성 스케일 조정에 대해 걱정할 필요없는 몇없는 알고리즘---스케일에 영향 받지않는다.

경사하강법알고리즘을 구현하면서 보았듯이 대부분의 머신 러닝과 최적화 알고리즘은 특성의 스케일이 같은데 훨씬 성능이 좋다.

#  대표적인 방법은 정규화(Normalization), 표준화(standardization)이 있다.

대부분의 정규화는 [0,1] 범위에 맞추는 것을 의미. 최소-최대-스케일 변화(min-max-scaling)의 특별한 경우

In [182]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
X_train_norm=mms.fit_transform(X_train)
X_test_norm=mms.transform(X_test)

In [183]:
X_train_norm

array([[0.64619883, 0.83201581, 0.4248366 , ..., 0.45744681, 0.28571429,
        0.19400856],
       [0.6871345 , 0.15612648, 0.65359477, ..., 0.81914894, 0.63369963,
        0.68259629],
       [0.67836257, 0.15019763, 0.65359477, ..., 0.75531915, 0.52747253,
        0.71825963],
       ...,
       [0.72222222, 0.84980237, 0.34640523, ..., 0.10638298, 0.02197802,
        0.09771755],
       [0.16081871, 0.06916996, 0.39215686, ..., 0.54255319, 0.68131868,
        0.43366619],
       [0.37719298, 0.61857708, 0.45751634, ..., 0.75531915, 0.68131868,
        0.13195435]])

In [184]:
X_train_norm

array([[0.64619883, 0.83201581, 0.4248366 , ..., 0.45744681, 0.28571429,
        0.19400856],
       [0.6871345 , 0.15612648, 0.65359477, ..., 0.81914894, 0.63369963,
        0.68259629],
       [0.67836257, 0.15019763, 0.65359477, ..., 0.75531915, 0.52747253,
        0.71825963],
       ...,
       [0.72222222, 0.84980237, 0.34640523, ..., 0.10638298, 0.02197802,
        0.09771755],
       [0.16081871, 0.06916996, 0.39215686, ..., 0.54255319, 0.68131868,
        0.43366619],
       [0.37719298, 0.61857708, 0.45751634, ..., 0.75531915, 0.68131868,
        0.13195435]])

In [185]:
from sklearn.preprocessing import StandardScaler
stdsc=StandardScaler()
X_train_std=stdsc.fit_transform(X_train)
X_test_std=stdsc.transform(X_test)

In [186]:
X_train_std

array([[ 0.71225893,  2.22048673, -0.13025864, ..., -0.20017028,
        -0.82164144, -0.62946362],
       [ 0.88229214, -0.70457155,  1.17533605, ...,  1.33982592,
         0.54931269,  1.47568796],
       [ 0.84585645, -0.73022996,  1.17533605, ...,  1.06806189,
         0.1308109 ,  1.62934866],
       ...,
       [ 1.02803489,  2.29746195, -0.5778911 , ..., -1.69487249,
        -1.86068037, -1.04434751],
       [-1.30384913, -1.08089484, -0.31677217, ...,  0.16218176,
         0.73691694,  0.40313628],
       [-0.40510216,  1.29678411,  0.05625489, ...,  1.06806189,
         0.73691694, -0.89683324]])

In [187]:
X_test_std

array([[ 8.94437367e-01, -3.88117877e-01,  1.10073064e+00,
        -8.12017114e-01,  1.13201117e+00,  1.09807851e+00,
         7.12041017e-01,  1.81013423e-01,  6.62804643e-02,
         5.12859235e-01,  7.96297849e-01,  4.48295020e-01,
         1.90593792e+00],
       [-1.04879931e+00, -7.72993966e-01,  5.41190056e-01,
        -2.40938809e-01,  3.49414498e-01, -7.07219221e-01,
        -3.08121293e-01,  6.76138376e-01, -1.03520519e+00,
        -9.06567274e-01,  2.24570604e+00, -5.61881713e-01,
        -1.22874035e+00],
       [ 1.64744158e+00, -4.13776283e-01,  2.42768413e-01,
        -1.56343594e+00, -2.19746720e-01,  2.84881333e-01,
         4.47191186e-01, -5.61674005e-01,  5.74658458e-01,
         6.79643589e-02,  2.98063782e-01,  1.38631627e+00,
         1.64471473e+00],
       [ 2.02159300e-01, -4.90751501e-01, -9.13615453e-01,
        -2.58536553e+00,  6.48338887e-02,  5.28840485e-01,
         6.82613258e-01, -8.91757306e-01, -6.11556861e-01,
        -3.00662824e-01,  4.33945800e-01,  1.12655654e+00,
         9.07143373e-01],
       [-8.05894728e-01, -1.09800044e+00, -1.06282627e+00,
        -3.91222574e-01, -7.88907938e-01,  1.94380357e+00,
         1.65372930e+00, -1.05679896e+00,  5.23820659e-01,
        -2.49817695e-01,  3.88651794e-01,  2.17397481e-01,
        -2.91410081e-01],
       [-7.08732894e-01,  5.78348747e-01,  9.51519815e-01,
         2.16360142e+00, -1.48601568e-01, -6.90955277e-01,
        -1.45580389e+00,  2.16151323e+00, -8.48799925e-01,
         1.02131052e+00, -1.28722643e+00, -1.28343652e+00,
         3.84696996e-01],
       [-1.44959188e+00,  4.58609519e-01, -5.77891105e-01,
        -5.41506338e-01,  9.18575715e-01, -9.83706260e-01,
        -7.29919172e-01,  5.11096725e-01, -1.17077265e+00,
        -1.03368010e+00,  2.62997455e-02, -1.43379923e-01,
        -7.83124318e-01],
       [ 5.05790031e-01,  1.15138648e+00,  8.02308994e-01,
         9.61331305e-01,  8.47430563e-01, -1.01623415e+00,
        -1.12228929e+00,  5.11096725e-01, -3.06530065e-01,
         2.36870643e+00, -4.71934321e-01, -1.52876516e+00,
        -1.83847591e-01],
       [ 8.58001680e-01, -5.84832323e-01, -5.03285694e-01,
        -1.02241438e+00,  1.34544663e+00,  4.47520768e-01,
         8.19942800e-01, -1.30436143e+00, -3.53951345e-02,
         3.22190002e-01, -1.54876279e-01,  8.37934618e-01,
         9.37875512e-01],
       [ 3.47902051e-01,  7.57957588e-01, -1.83505244e-02,
         5.10480012e-01, -5.04327329e-01, -6.42163447e-01,
        -1.27923734e+00,  6.76138376e-01, -6.62394660e-01,
         1.41112317e+00, -1.83075450e+00, -1.44217858e+00,
        -3.22142221e-01],
       [ 8.70146909e-01, -5.33515511e-01,  9.35575917e-02,
        -1.14264140e+00, -7.17762786e-01,  4.47520768e-01,
         6.82613258e-01, -6.44194830e-01,  2.86577595e-01,
         2.16262651e-01,  8.86885861e-01,  4.05001732e-01,
         1.73691115e+00],
       [-9.03056562e-01, -8.07205174e-01, -1.51045874e+00,
        -1.14264140e+00, -1.00234339e+00,  3.66201050e-01,
         4.27572680e-01, -6.44194830e-01,  2.18793862e-01,
        -9.27752744e-01,  1.24923791e+00,  1.74104193e-01,
        -1.00439572e+00],
       [ 9.06582597e-01,  3.47423093e-01, -3.16772167e-01,
         6.60763777e-01, -6.46617634e-01, -1.58547217e+00,
        -1.35771136e+00,  3.46055074e-01, -1.03520519e+00,
         1.90262608e+00, -1.15134441e+00, -1.35559200e+00,
        -4.29704710e-01],
       [ 1.00374443e+00, -8.58521986e-01, -4.28680283e-01,
        -1.14264140e+00, -7.74564157e-02,  1.06555062e+00,
         1.06517412e+00, -1.22184061e+00,  3.54361327e-01,
         9.02671888e-01,  2.52769776e-01,  1.34302298e+00,
         8.91777303e-01],
       [-8.18039958e-01,  1.26257291e+00, -1.83505244e-02,
         3.60196248e-01, -7.88907938e-01, -4.03975371e-02,
        -1.12228929e+00,  1.08874250e+00, -1.01825926e+00,
         1.08486693e+00, -1.78546050e+00, -1.49990297e+00,
        -7.21660038e-01],
       [ 9.28522366e-02, -3.88117877e-01,  1.36184957e+00,
         1.71275013e+00,  1.20315632e+00, -2.03036972e-01,
        -7.69156184e-01, -8.91757306e-01, -1.37070733e-01,
         8.51826759e-01, -1.55899047e+00, -1.86068037e+00,
        -1.01361537e+00],
       [ 5.66516178e-01, -4.65093095e-01,  8.39611699e-01,
         5.96287194e-02, -2.19746720e-01,  3.33673163e-01,
         5.35474463e-01, -7.26715656e-01,  3.23885980e-02,
        -6.65052913e-01,  7.51003843e-01,  1.73266258e+00,
         2.77134506e-01],
       [ 1.44097268e+00,  1.39941774e+00,  4.66584645e-01,
        -1.98423048e+00,  2.05689815e+00,  1.09807851e+00,
         9.57272342e-01, -1.38688226e+00,  7.44117790e-01,
         4.40794804e-03, -2.90758297e-01,  1.31416079e+00,
         1.59113176e-02],
       [-1.98633266e-01,  1.92969146e+00,  3.54676529e-01,
         5.10480012e-01, -9.31198243e-01, -1.01623415e+00,
        -1.38713912e+00,  8.41180026e-01, -1.32328605e+00,
         1.08486693e+00, -1.87604851e+00, -1.09583227e+00,
        -3.98972570e-01],
       [-6.84442436e-01, -7.13124352e-01, -6.89799221e-01,
        -2.40938809e-01,  4.47583333e+00,  2.84881333e-01,
         2.01959862e-01, -3.96632354e-01,  2.77762977e+00,
        -1.05486557e+00,  9.32179867e-01,  1.53621347e-02,
         5.59870193e-01],
       [ 1.62315112e+00, -3.45353867e-01,  4.29281940e-01,
        -9.02187372e-01,  9.89720868e-01,  2.48051371e+00,
         1.39868873e+00, -1.05679896e+00,  9.13577121e-01,
         1.14842334e+00, -4.26640315e-01,  1.19871202e+00,
         2.22862539e+00],
       [ 8.45856450e-01,  1.71587141e+00, -4.65982989e-01,
         8.11047541e-01, -7.88907938e-01, -1.69931977e+00,
        -1.56370568e+00,  1.25378415e+00, -8.31853992e-01,
         6.48446244e-01, -7.88992364e-01, -1.25457433e+00,
        -7.21660038e-01],
       [-4.30959748e-03, -1.24339808e+00, -2.51763178e+00,
        -1.14264140e+00, -9.31198243e-01, -6.09635560e-01,
        -3.34622098e-02, -1.05679896e+00, -3.06530065e-01,
        -2.07446755e-01,  1.06806189e+00, -2.01104308e-01,
        -1.11503143e+00],
       [-7.45168582e-01, -6.36149134e-01, -7.27101926e-01,
         8.11047541e-01,  6.33995107e-01, -5.28315842e-01,
         2.53933081e-02, -2.31590703e-01, -5.23410677e-02,
        -1.28366864e+00,  4.79239806e-01,  4.91588309e-01,
        -1.25947249e+00],
       [-1.54675371e+00,  2.79000678e-01,  1.99599557e+00,
         5.96287194e-02,  2.78269345e-01, -9.34914430e-01,
        -3.34622098e-02,  1.91395076e+00, -1.00131332e+00,
        -5.46414279e-01,  1.24923791e+00, -1.72242116e-01,
        -4.54290422e-01],
       [-7.33023353e-01, -7.04571550e-01, -3.54074873e-01,
         5.10480012e-01, -9.31198243e-01,  6.75215977e-01,
         1.06517412e+00,  1.81013423e-01,  2.18793862e-01,
        -4.87094962e-01, -1.19663842e+00,  3.18415155e-01,
        -1.23795999e+00],
       [ 1.45311791e+00, -5.50621115e-01,  1.68163002e-01,
        -1.26286841e+00,  1.98575300e+00,  7.72799638e-01,
         9.76890848e-01, -7.26715656e-01,  1.09998239e+00,
         2.33211027e-01,  3.88651794e-01,  1.87697354e+00,
         9.53241582e-01],
       [ 3.96482968e-01,  1.76367054e-01, -1.30258641e-01,
         5.96287194e-02, -7.17762786e-01, -1.50415245e+00,
        -1.53427792e+00,  1.59717727e-02, -1.69609658e+00,
         2.16262651e-01, -1.15134441e+00, -2.15535404e-01,
         7.73755972e-02],
       [ 5.66516178e-01,  6.55323965e-01,  8.76914404e-01,
         1.26189883e+00,  1.70117239e+00, -1.50415245e+00,
        -4.84687847e-01, -1.22184061e+00, -6.62394660e-01,
         1.48739087e+00, -1.64957848e+00, -1.90397366e+00,
        -7.83124318e-01],
       [-8.05894728e-01, -1.04668363e+00, -8.39010042e-01,
        -2.40938809e-01, -8.60053090e-01,  1.91127568e+00,
         1.01612786e+00, -1.46940308e+00,  3.88253194e-01,
        -2.71003166e-01,  1.20394390e+00,  3.61708443e-01,
        -1.02898144e+00],
       [-1.25761890e-01,  1.23691450e+00,  9.88822520e-01,
        -3.61165821e-01,  2.07124193e-01,  1.38505841e-01,
         3.39289404e-01, -9.74278132e-01,  5.74658458e-01,
        -2.49817695e-01,  3.43357788e-01,  1.29972970e+00,
         4.66434574e-02],
       [ 1.65723612e-01,  2.02025460e-01, -5.56532298e-02,
         5.96287194e-02,  1.48773693e+00, -1.09755386e+00,
        -1.35771136e+00,  1.33630498e+00, -3.06530065e-01,
         1.78398745e+00, -1.60428447e+00, -1.44217858e+00,
         2.61768436e-01],
       [ 1.42882745e+00,  1.44218175e+00,  2.05465708e-01,
        -2.70995562e-01,  8.47430563e-01,  8.54119356e-01,
         5.74711475e-01, -5.61674005e-01, -6.62394660e-01,
         6.37272648e-02, -3.81346309e-01,  1.02553887e+00,
         9.99339792e-01],
       [-1.71678692e+00, -3.11142659e-01, -3.91377578e-01,
        -5.41506338e-01, -7.74564157e-02,  1.13060640e+00,
         1.92150609e-01, -1.63444473e+00, -4.92935329e-01,
        -7.79454452e-01,  9.32179867e-01,  4.91588309e-01,
        -1.25947249e+00],
       [-1.15810638e+00, -4.47987491e-01, -2.42166757e-01,
        -3.91222574e-01, -1.28692400e+00, -1.17887358e+00,
        -5.53352618e-01,  1.25378415e+00, -1.50326826e-03,
        -1.13960745e+00,  5.69827818e-01, -5.04157328e-01,
        -8.44588598e-01],
       [ 1.05232535e+00, -5.76279521e-01, -9.88220864e-01,
        -1.14264140e+00,  1.35979041e-01,  1.26071794e+00,
         1.30059620e+00, -1.30436143e+00,  8.45793388e-01,
         4.28117354e-01, -2.00170285e-01,  1.02553887e+00,
         7.07384464e-01],
       [-9.03056562e-01, -6.36149134e-01, -6.52496516e-01,
         1.79855731e-01,  2.78269345e-01, -1.99207076e+00,
        -1.02419676e+00,  1.59717727e-02, -3.06530065e-01,
        -8.64196333e-01, -2.18287887e-01, -1.15355666e+00,
         3.53964856e-01],
       [ 4.42713195e-02, -7.30229956e-01, -1.06282627e+00,
        -1.29292516e+00, -7.74564157e-02,  1.22241898e-01,
         5.64902222e-01, -7.26715656e-01, -4.59043463e-01,
        -5.88785220e-01,  1.02276788e+00,  1.01948712e-01,
         8.14946953e-01],
       [ 1.99808610e-02, -4.99304303e-01, -1.06282627e+00,
        -8.42073866e-01,  5.62849954e-01,  1.09807851e+00,
         9.18035330e-01, -7.26715656e-01,  6.59388124e-01,
        -2.10146163e-02, -3.36052303e-01,  1.05440106e+00,
         4.00063065e-01],
       [-4.05102163e-01,  1.02309445e+00, -9.29559351e-02,
         5.10480012e-01,  4.91704802e-01, -1.01623415e+00,
        -8.47630207e-01, -1.63444473e+00, -1.35717792e+00,
        -3.79629925e-02, -7.88992364e-01, -1.91840476e+00,
        -4.75802920e-01],
       [-9.51637479e-01,  1.30533692e+00, -6.89799221e-01,
        -3.91222574e-01,  9.18575715e-01, -1.53668034e+00,
        -1.25961883e+00, -6.44194830e-01, -8.48799925e-01,
         1.32214420e+00, -1.37781444e+00, -8.93796926e-01,
         3.07866646e-01],
       [-1.25526821e+00,  9.20460826e-01, -1.43585333e+00,
        -2.40938809e-01, -8.60053090e-01, -5.28315842e-01,
        -4.16023076e-01,  1.59717727e-02,  3.88253194e-01,
        -1.61416198e+00, -1.09582273e-01,  6.21468175e-01,
        -5.86438623e-01],
       [-5.26554455e-01, -8.67074788e-01, -1.80888038e+00,
        -3.91222574e-01, -7.88907938e-01, -1.42283273e+00,
        -6.90682160e-01, -6.44194830e-01, -4.92935329e-01,
        -1.11842198e+00,  3.88651794e-01,  2.17397481e-01,
        -5.92585051e-01],
       [-1.15810638e+00, -2.34167441e-01, -2.55493449e+00,
        -6.91790102e-01, -1.48601568e-01, -1.54245142e-01,
         1.03867332e-01, -8.91757306e-01, -4.08205663e-01,
        -7.58268982e-01,  1.43041393e+00,  4.91588309e-01,
        -1.37749382e-01],
       [ 7.36549387e-01,  6.38218361e-01,  6.53098172e-01,
        -1.38309542e+00,  1.20315632e+00,  6.10160203e-01,
         9.47463089e-01, -1.63444473e+00,  3.23885980e-02,
         4.40794804e-03,  2.62997455e-02,  1.06883216e+00,
         2.77134506e-01],
       [-7.45168582e-01,  1.67814252e-01, -4.28680283e-01,
         6.60763777e-01, -6.46617634e-01, -1.04876203e+00,
        -2.19838016e-01,  2.40907571e+00, -3.74313797e-01,
        -1.01249463e+00, -4.26640315e-01,  9.82245580e-01,
        -1.35166890e+00],
       [-2.43335545e+00, -7.21677154e-01, -6.89799221e-01,
         5.10480012e-01, -1.00234339e+00,  2.19825559e-01,
         1.03867332e-01,  1.25378415e+00,  6.25496258e-01,
        -1.35146215e+00,  3.42335020e+00,  3.61708443e-01,
        -1.06893322e+00],
       [-1.25761890e-01,  3.90187103e-01,  1.17533605e+00,
         3.60196248e-01, -2.19746720e-01, -1.27645724e+00,
        -1.53427792e+00,  1.33630498e+00, -1.50969132e+00,
        -2.07446755e-01, -8.34286370e-01, -4.46432944e-01,
        -4.75802920e-01],
       [-1.06094454e+00, -6.36149134e-01, -2.79469462e-01,
         9.01217799e-01, -6.46617634e-01, -8.86122599e-01,
        -3.66976811e-01,  5.11096725e-01, -1.37070733e-01,
        -1.11842198e+00,  1.70217797e+00, -5.18588425e-01,
        -7.98490388e-01],
       [-1.86488036e-01,  5.44137539e-01,  5.62548863e-02,
         5.96287194e-02,  3.49414498e-01, -1.66679189e+00,
        -8.28011701e-01, -1.05679896e+00, -1.37412385e+00,
         1.31520770e-01, -9.70168388e-01, -1.73080050e+00,
        -6.90927899e-01],
       [-8.54475645e-01, -1.07234204e+00, -3.91377578e-01,
        -1.14264140e+00,  1.35979041e-01, -4.46996125e-01,
        -9.55531990e-01,  2.16151323e+00, -2.08585304e+00,
        -7.70980264e-01,  1.33982592e+00, -1.37002310e+00,
        -2.29945801e-01],
       [-8.05894728e-01, -1.20918687e+00, -3.82322647e+00,
        -2.76570605e+00, -7.88907938e-01, -5.60843729e-01,
        -1.46561315e+00, -7.26715656e-01, -2.06890711e+00,
        -1.33027668e+00,  4.33945800e-01, -1.15355666e+00,
        -7.21660038e-01],
       [ 2.99321134e-01, -6.10490728e-01,  1.69757392e+00,
        -1.29292516e+00,  7.76285411e-01,  4.47520768e-01,
         6.04139234e-01, -2.31590703e-01, -4.75989396e-01,
        -2.07446755e-01,  6.15121824e-01,  2.31828578e-01,
         3.84696996e-01],
       [-2.22923724e-01, -6.44701936e-01,  5.03887351e-01,
        -6.01619844e-01, -2.90891872e-01,  2.52353446e-01,
         3.00052392e-01, -8.91757306e-01, -3.06530065e-01,
        -4.91332056e-01,  6.15121824e-01,  1.45847175e+00,
         7.99580883e-01]])

In [189]:
ex=np.array([0,1,2,3,4,5])
print('표준화: ',(ex-ex.mean())/ex.std())
print('정규화: ',(ex-ex.min())/(ex.max()-ex.min()))

표준화:  [-1.46385011 -0.87831007 -0.29277002  0.29277002  0.87831007  1.46385011]
정규화:  [0.  0.2 0.4 0.6 0.8 1. ]